.header > img{
    height: 80px;
    margin-left: 30px;
    object-fit: contain;
    cursor: pointer;
}
.header_input{
   
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: row;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}
.header_input >input{
    border: none;
    outline: 0;
   padding: 10px;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: white;
    width: 100%;
}
.header_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin-right: 80px;
}