.search{
    position: absolute;
    top: 35px;
left:32%;
width: 100vw;
}
.search > h2{
    background-color: white;
    color: black;
}
.search {
    display: flex;
    flex-direction: column;
}
.search > input{
    flex: 1;
    padding-left:20px;
    border: none;
    margin-top: 20px;
    outline-width: 0;
}
.search-gest{
    display:flex;
    justify-content: space-between;
}
.search-gest-button{
    margin-top: 10px !important;
    background-color: #ff7779 !important;
    color: white !important;
    text-transform: inherit !important;

}
.search-gest-button:hover{
    background-color: white !important;
    color: #ff7779 !important;
}